### Variables

In [6]:
name = 'Alice'
height = 30
weight = 30.64
my_list = ['mango', 'apple', 'banana', 'coconut']

#### Valid variable names

* my_var
* myVar
* _my_var
* MY_VAR
* my_var_1

#### Invalid variable names

* 1_my_var   # variable name cannot start with a digit
* my-var     # hyphens are not allowed in variable names
* my var     # spaces are not allowed in variable names

### Variable assignment

In [7]:
x = 20
y = 65
x = 40

In [9]:
print(x)
print(y)

40
65

### Operators

#### 1. Arithmetic Operators:

In [1]:
x = 10
y = 3

print(x + y)

print(x - y)

print(x * y)

print(x / y)

13
7
30
3.3333333333333335

#### 2. Comparison Operators:

In [2]:
x = 10
y = 3

print(x == y)

print(x != y)

print(x > y)

print(x < y)

print(x >= y)

print(x <= y)

False
True
True
False
True
False

#### 3. Logical Operators:

In [18]:
x = 10
y = 3
z = 5

print(x > y and x > z)

print(x > y or x < z)

print(not(x > y and x > z))

True
True
False

#### 4. Assignment Operators:

In [22]:
x = 10

# Addition assignment
x += 5
print(x)  # Output: 15

# Subtraction assignment
x -= 3
print(x)  # Output: 12

15
12

#### 5. Bitwise operators:

In [21]:
x = 10
y = 3

# Bitwise and
print(x & y)  # Output: 2

# Bitwise or
print(x | y)  # Output: 11

# Bitwise xor
print(x ^ y)  # Output: 9

2
11
9

### Order of Computation

### type() function

In [27]:
x = 10
y = 3
z = 5

In [26]:
result = x + y * z 
print(result)  

result = (x + y) * z  
print(result)  

result = x / y + z 
print(result) 

result = x + y % z
print(result)  

result = (x + y) % z 
print(result)

23.0
55.0
7.666666666666666
11.0
1.0

In [25]:
x = (24 ** 2 // 4 % 25 / 19 * 8)
print(x)

8.0

In [28]:
result = x + y * z  # Multiply y and z first, then add x

result = (x + y) * z  # Add x and y first, then multiply by z

result = x / y + z  # Divide x by y first, then add z

result = x + y % z  # Take the remainder of y divided by z first, then add x

result = (x + y) % z  # Add x and y first, then take the remainder
                      # of the result divided by z

In [33]:
# Addition
var = 5+9
print(type(5 + 9))  # Output: <class 'int'>
var = 6.7 + 9.3
print(type(var))    # Output: <class 'float'>

<class 'int'>
<class 'float'>

In [34]:
# Concatenation 
var = 'Hello'+'World'
print(type(var))    # Output: <class 'str'>

<class 'str'>

In [15]:
var = 45 +'World'
print(type(var))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Type conversion

In [13]:
# type conversion

a = 34
print(type(a))     # Output: <class 'int'>

b = str(a)
print(type(b))     # Output: <class 'str'>

c = float(a)
print(type(c))     # Output: <class 'float'>

<class 'int'>
<class 'str'>
<class 'float'>

In [7]:
name = 'Sneha'
print(type(name))
n1 = int(name)
print(type(n1))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Sneha'

In [10]:
age = '40'
print(type(age))
n2 = int(age)
print(type(n2))

<class 'str'>
<class 'int'>

#### Implicit Conversion

In [11]:
var = 2 + 5.7
print(type(var))

<class 'float'>

### Input function

In [28]:
place = input('Where do you live?\n')
print(place)
print(type(place))

Where do you live?
India
India
<class 'str'>

In [21]:
print(place)
print(type(place))

India
<class 'str'>

In [25]:
age = int(input('Your age?'))

Your age?30

In [26]:
print(age)
print(type(age))

30
<class 'str'>